.body-class{
    display: flex;
    height: auto;
    background-image: linear-gradient(black,rgb(42, 35, 2));
    min-width: 100vh;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.details-inside{
    justify-content: center;
    align-items: center;
    display: flex;
    position:static;
    z-index: 2;
    position: absolute;
    min-width: 100vh;
}
.animation-design{
    display: flex;
    height: 100vh;
    position: unset;
    z-index: 1;
    position: absolute;
    min-width: 100vh;
}
.ball1,.ball2,.ball3,.ball4,.ball5,.ball6,.ball7,.ball8,.ball9,.ball10,.ball11,.ball12{
    flex: 1;
    top:-300;
}
@keyframes fall {
    0% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(calc(100vh + 20px));
    }
  }
.insideball1{
    height: 15vh;
    width: 15vh;
    background-color: rgba(196, 196, 196, 0);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 24s linear infinite;
}
.insideball2{
    height: 12vh;
    width: 12vh;
    background-color: rgba(230, 228, 224, 0.13);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 20s linear infinite;
}
.insideball3{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 13s linear infinite;
}
.insideball4{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 18s linear infinite;

}
.insideball5{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 15.9s linear infinite;

}
.insideball6{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 20s linear infinite;

}
.insideball7{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 14s linear infinite;

}
.insideball8{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 19s linear infinite;

}
.insideball9{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 15s linear infinite;
}.insideball10{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 16s linear infinite;

}.insideball11{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 12s linear infinite;

}.insideball12{
    height: 18vh;
    width: 18vh;
    background-color: rgba(73, 72, 69, 0.527);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    animation: fall 15s linear infinite;

}
.about-home{
    justify-content: center;
    align-items: center;
    width: 55vh;
    height: auto;
    padding: 2%;
    background-color: rgba(186, 186, 198, 0);
    border: 0;
    border-radius: 18px;
    backdrop-filter: blur(30px);
    box-shadow: -4px 4px 4px 4px rgba(158, 158, 158, 0.146);
}
.img-class{
    background-image: url('myimg.jpg');
    border: 0;
    border-radius: 18px;
    box-shadow: -2px 2px 2px 2px rgba(255, 255, 255, 0.098);
}
.qualification{
    padding: 2%;
    display: flex;
    color: rgba(255, 255, 255, 0.489);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(209, 213, 215, 0.073);
    border: 0;
    border-radius: 18px;
    
}